@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #01000e;
  @apply text-white;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}

.typing {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid orange;
  width: 0;
  animation: typing 3s steps(2, end) forwards, blink-caret .75s step-end infinite;
}
